@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-y: hidden;
  user-select: none;
  background: url(./imgs/oak-wooden-textured-background.avif) center no-repeat;
  background-size: cover;
  font-family: 'Noto Sans KR', sans-serif;
  * {
    font-family: 'Noto Sans KR', sans-serif;
  }
}

.clickable-layer {
  position: relative;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: unset;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
    border-radius: inherit;
  }
  &:hover::after {
    opacity: 0.08;
  }
  &:active::after {
    opacity: 0.16 !important;
  }
  &:disabled {
    opacity: 0.4;
    &::after {
      opacity: 0 !important;
    }
  }
}
